form 
{
	font-family: 'Playfair Display SC', serif;
	font-size: 11px;
}

legend 
{
	text-align: center;
}

#delivery_pickup
{
	position: relative;
	left: 0%;
}

#radio_buttons
{
	position: relative;
	margin-left: 14px;
}
