#table_container
{
 position: relative;
 margin-right: ;
 margin-top: 2%;
 max-height: 300px;
 overflow-y:scroll;
}

#account_settings
{
	position: absolute;
	left: 81%;
	top: 24%;
}

td{
	text-align: center;
	vertical-align: middle;
}

th
{
	text-align: center;
}
#select_neighborhood 
{
 width: 240px;
 height: 30px;
 }

#login-header-space
 {
 	position: relative;
 	bottom: 10px;
 }

 #select_saved_address
 {
 	width: 240px;
 }

/*
#autocomplete
{
	width: 240px;
	
}*/
#search_bar_container
{
	text-align: center;
	margin-left: 25px;
}

 #select_neighborhood_form
 {
 	margin-left: 40px;
 	padding: 30px;
 }

 #select_saved_address_form
 {
 	margin-left: 40px;
 	padding: 30px;
 }

 #enter_address_form
 {
 	 margin-left: 40px;
 	 padding: 30px;
 }

 #enter_address_button
 {
 	font-family: 'Playfair Display SC', serif;
 }


#menu_title
{	
	position: absolute;
	font-family: 'Playfair Display SC', serif;
	font-size: 16px;
	text-align: center;
	left: 45%;
}

#search_container
{
	margin-top: 2%;
	margin-right: 5%;
	margin-left: 10%;
}

#enter_neighborhood_button
{
	width: 225px;
 	font-family: 'Playfair Display SC', serif;
}

h1
{
	font-family: 'Playfair Display SC', serif;
	text-align: center;
}

body 
{
	font-family: 'Playfair Display SC', serif;
}

#logo
{
	font-family: 'Playfair Display SC', serif;
	font-size: 24px;
	position: relative;
	bottom: 10%;
	left: 10%;
}


#ribbon
{

}
