body 
{
	font-family: 'Playfair Display SC', serif;
}


button
{
font-family: 'Playfair Display SC', serif;
font-size: 14px;
}

#logo {
	font-size: 20px;
}

.input-xlarge {
 width: 270px;
 height: 30px;
 }

#choose_area {
	position: absolute;
	left: 100px;
	top: 100px;
}

.input-append {
	position: absolute;
	left:115px;
}


h2 {
	color: #FFFFFF;
	font-weight: 400;
	font-family: 'Playfair Display SC', serif;
	font-size: 32px;
	position: relative;
	left:80px;
}

a {
	color: #D2322D;
}

.checkbox {
	color: #D2322D;
}

#enter_address_button{
	position: relative;
	margin-top: 10px;
	left: 110px;
}

#enter_neighborhood_button
{
	position: relative;
	margin-top: 10px;
	left: 90px;
}

#select_neighborhood
{
	width: 500px;
	position: relative;
	right: 15px;
}

#enter_address
{
	position: relative;
	left: 85px;
}

#autocomplete
{
	width: 500px;

}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

