#logo
{
	font-family: 'Playfair Display SC', serif;
	font-size: 24px;
	position: relative;
	bottom: 10%;
	left: 10%;
}

#account_settings
{
	position: absolute;
	left: 81%;
	top: 24%;
}

#menu_title 
{
	position: absolute;
	font-family: 'Playfair Display SC', serif;
	font-size: 16px;
	margin-left: 42%;
}

#ribbon
{
	width: 100%;
}
#login-header-space
{
	position: relative;
	bottom: 10px;
}

#filter_results
{
	font-family: 'Playfair Display SC', serif;
	font-size: 12px;
	text-align: center;
	padding: 10px;
}

#menu_category
{
text-align: center;
font-family: 'Playfair Display SC', serif;
font-size: 18px;
}

#menu_item
{
font-family: 'Playfair Display SC', serif;
font-size: 12px;
}

#menu_price 
{
	font-family: 'Playfair Display SC', serif;
	font-size: 12px;
}

#menu_item_modal
{
text-align: left;
font-family: 'Playfair Display SC', serif;
font-size: 14px;
padding-bottom: 6px;
padding-top: 2px;
}

#menu_item_title 
{
font-size: 20px;
font-family: 'Playfair Display SC', serif;
}


#option_instructions
{
text-align: left;
font-family: 'Playfair Display SC', serif;
font-size: 8px;
font-style: italic;
}

#menu_item_option 
{
font-size: 10px;
font-family: 'Playfair Display SC', serif;
}

#menu_item_choices
{
	padding: 10px;
	padding-left: 30px;

}

#spec_instructions_title
{
	font-size: 12px;
	font-family: 'Playwfair Display SC', serif;
	font-style: italic;
}

#spec_instructions_prompt
{
	font-size: 7px;
	font-family: 'Playfair Display SC', serif;
	font-style: italic;
}
#modal_header_price
{
	position: relative;
	margin-left: 1%;
	font-family: 'Playfair Display SC', serif;
	font-size: 14px;
}
#save_to_bag
{
	font-family: 'Playfair Display SC', serif;
}
#close_modal
{
	font-family: 'Playfair Display SC', serif;
}

#choice_price
{
	font-style: italic;
}

#bag_details_container
{
	padding: 2px;
}

#bag_item_detail
{
	height: 7px;
	font-size: 8px;
}

#bag_item_list
{
	text-align: left;
	margin-right: 10px;
}

#bag_item_name
{
	font-family: 'Playfair Display SC', serif;
	font-size: 11px;
}

#bag_item_price
{
	position: absolute;
	left: 170px;
}
#sub_total_line
{
	font-family: 'Playfair Display SC', serif;
	font-size: 10px;

}
#sales_tax_line
{
	font-family: 'Playfair Display SC', serif;
	font-size: 10px;
}

#tip_line
{
	font-family: 'Playfair Display SC', serif;
	font-size: 10px;
}

#grand_total h3
{
	font-family: 'Playfair Display SC', serif;
	font-size: 18px;
	font-weight: bolder; 
}

#delete_item_icon2
{
	position: relative;
	left: 5px;
}
ol
{
	list-style-position: outside;
	 padding: 0;
	 padding-left: 2px;
}

#index_item
{
	display:none;
	visibility:hidden;
}

#hide
{
	display:none;
	visibility:hidden;
}


small
{
	display: block;
	padding: 1px;
	font-family: 'Playfair Display SC', serif;
	font-size: 7px;
	position: relative;
	left: 5px;
	bottom: 6px;
}

