#restaurants_list_item 
{
	padding:0; 
	margin:0;
}

#view_menu 
{
	margin-top:18px;
}

ul
{
	list-style-type: none;
}

#restaurant_title 
{
	padding-left: 20px;
}

i 
{
	padding-right: 5px;
}

#filter_results
{
	font-family: 'Playfair Display SC', serif;
	font-size: 12px;
	text-align: center;
	padding: 10px;
}

#search_title 
{
	position: absolute;
	font-family: 'Playfair Display SC', serif;
	font-size: 16px;
	margin-left: 42%;
}

#restaurant_title
{
	font-family: 'Playfair Display SC', serif;
}

#restaurant_info
{
	font-family: 'Playfair Display SC', serif;
	font-size: 12px;
}

*.menu-item-parent

{
	font-family: 'Playfair Display SC', serif;
	font-size: 16px;
}

*.filter_dropdown_item
{
	font-family: 'Playfair Display SC', serif;
	font-size: 12px;
	color: #FFFFFF;
	margin-left: 25px;
}
#account_settings
{
	position: absolute;
	left: 81%;
	top: 24%;
}

#view_menu 
{
	font-family: 'Playfair Display SC', serif;
}
#login-header-space
{
	position: relative;
	bottom: 10px;
}


#logo
{
	font-family: 'Playfair Display SC', serif;
	font-size: 24px;
	position: relative;
	bottom: 10%;
	left: 10%;
}
