th
{
	text-align: center;
}
#logo
{
	font-family: 'Playfair Display SC', serif;
	font-size: 24px;
	position: relative;
	bottom: 10%;
	left: 10%;
}

#menu_title
{	
	position: absolute;
	font-family: 'Playfair Display SC', serif;
	font-size: 16px;
	text-align: center;
	left: 45%;
}

#login-header-space
 {
 	position: relative;
 	bottom: 10px;
 }

 body 
 {
 	font-family: 'Playfair Display SC', serif;
 }

 h2
 {
 	font-family: 'Playfair Display SC', serif;
 	text-align: center;
 }
